$ORIGIN .
$TTL 604800	; 1 week
{{ rev_domain }}	IN SOA	{{ ansible_fqdn }}. admin.{{ domain }}. (
				7          ; serial
				604800     ; refresh (1 week)
				86400      ; retry (1 day)
				2419200    ; expire (4 weeks)
				604800     ; minimum (1 week)
				)
			NS	{{ ansible_fqdn }}.
$ORIGIN {{ rev_domain }}.
$TTL 604800	; 1 week

{% for key, value in records.iteritems() %}
{{ value.last }}   PTR   {{ value.rev }}
{% endfor %}
